/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-weight: 600;
    src: local("InterSemibold"), local("Inter Semiboldd"),
    url(./../fonts/InterSemibold.woff2) format("woff2"),
    url(./../fonts/InterSemibold.woff) format("woff");
}
  /* inter-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: "Inter";
    font-weight: 700;
    src: local("InterBold"), local("Inter Bold"),
    url(./../fonts/InterBold.woff2) format("woff2"),
    url(./../fonts/InterBold.woff) format("woff");
  }