html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Inter",
        -apple-system,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    background-color: #F2F0F9;
    color: #6E6893;
    font-size: 12px;
    font-weight: 600;

    min-width: 320px;
    min-height: 100vh;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

input,
textarea {
    border: none;
    border-radius: 6px;
}

fieldset {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-style: none;
}
